# Ignore everything in demo/
demo/*

# Except these folders (keep the folders themselves, but not their content)
!demo/input_splits/
!demo/metar_processed/
!demo/metar_raw/
!demo/model_weights/
!demo/validation_imgs/

# Ignore everything inside those folders
demo/input_splits/**
demo/metar_processed/**
demo/metar_raw/**
demo/model_weights/**
demo/validation_imgs/**